



body{
  margin-left: 20px;
  margin-right: 20px;
}
#ban{
  max-height: 100%;
  max-width: 100%;
}

#car{
  height: 40px;
  width: auto;

}
h2{
  text-align: center;
}
.card{
  
  min-height: 400px;


  margin-left: 10px;
  margin-right: 10px;
}

.card-img-top{
     width: 100%;
    height: 15vw;
    object-fit: cover;
}

.btn{
  margin-top: auto;
}

.table{
  margin-left: 20px;
  margin-right: 20px;
}
h1{
  font-family: 'Satisfy';
}